

<suite name="TestNG Session Test Automation Suite">
    <test name="Different testng Feature Test">

        <classes>
                 <class name="com.test.GoogleTest"></class>
                 <class name="com.test.GoogleTitleTest"></class>
                 <class name="com.test.TestNgBasics"></class>

</classes>
</test>
    
    
</suite>

    
    